@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="container-fluid p-0 mb-4">
    <div class="container-xxl col-md-4">  
        <h2>@ViewData["Title"]</h2>
        <section>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </section>
    </div>
</div>

