@* @model List<WebApplication1.Models.LoaiPhong> //khai báo 1 list NhanVien *@

@{
    var typeName = ViewBag.typeName;
    var typePrice = ViewBag.typePrice;
    var typeRate = ViewBag.typeRate;
    var typeQuantity = ViewBag.typeQuantity;
    var serviceNames = ViewBag.serviceNames;
}
@model List<WebApplication1.Models.Phong>;

<div class="container-xxl bg-white p-0">
<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url('@Url.Content("~/images/carousel-1.jpg")');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">@typeName</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">@typeName</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Booking Start -->
@await Component.InvokeAsync("BackGroundBooking");
<!-- Booking End -->
<!-- Detail Main Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Detail Room</h6>
            <h1 class="mb-5">Welcome to <span class="text-primary text-uppercase">@typeName Room</span></h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="~/images/about-1.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="~/images/about-2.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="~/images/about-3.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="~/images/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form>
                        <div class="row g-3">
                                @* Name *@
                            <div class="col-md-6">
                                <div class="form-floating">
                                        <h3 style="color:#008B8B;">@typeName Room</h3>
                                </div>
                            </div>
                                @* Price *@
                             <div class="col-md-6">
                                <div class="form-floating">
                                        <h5 style ="background-color:tomato;">Price: @typePrice VND/night</h5>
                                </div>
                            </div>
                                @* Rating *@
                            <div class="col-md-6"> 
                                <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <h4>Rating:</h4>
                                        <div class="ps-2">
                                            @{
                                                // Phần nguyên của rating
                                                int fullStars = (int)Math.Floor(typeRate);
                                                // Phần thập phân của rating
                                                double fractionalPart = typeRate - fullStars;

                                                // Hiển thị sao đầy đủ
                                                for (int i = 0; i < fullStars; i++)
                                                {
                                                    <small class="fa fa-star text-primary"></small>
                                                }

                                                // Hiển thị sao nửa nếu có
                                                if (fractionalPart >= 0.5)
                                                {
                                                    <small class="fa fa-star-half-alt text-primary"></small>
                                                }
                                                // Hiển thị các sao còn lại (sao rỗng)
                                                for (int i = 0; i < 5 - fullStars - (fractionalPart >= 0.5 ? 1 : 0); i++)
                                                {
                                                    <small class="fa fa-star text-secondary"></small>
                                                }
                                            }
                                        </div>
                                </div>
                            </div>
                                @* Quantity *@
                            <div class="col-md-6">
                                    <h4>Quantity: </h4>
                                    <h5 style="color:chocolate">@typeQuantity Room</h5>
                            </div> 
                                @* Services *@
                            <div class="col-12">
                                <div class="form-floating">
                                        <h4>Services:</h4>
                                        <p style="color: brown">
                                            @{
                                                int count = 0;
                                                foreach (var name in serviceNames)
                                                {
                                                    @name
                                                    if (count < serviceNames.Count - 1)
                                                    {
                                                        <text>, </text>
                                                    }
                                                    count++;
                                                }
                                            }
                                            ,...
                                        </p>
                                 </div>
                            </div>
                                @* Tien nghi *@
                            <div class="col-md-6">
                                <div class="form-floating">
                                        <h4>Includes:</h4>
                                        <p>Wifi, sandal, water, ...</p>
                                </div>
                            </div>
                                @* Description *@
                            <div class="col-12">
                                <div class="form-floating">
                                    <h4>Description:</h4>
                                    <p>abhbadasjdbabdwbjabdwjdbjabjksbdjbwjbdjkawjdwj</p>
                                </div>
                            </div>
                                @* Booking Button *@
                            <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" href="~/Home/Booking" type="submit">BOOK NOW</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Detail Main End -->
    <!-- Testimonial Start -->
    <div class="container-xxl testimonial mt-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s" style="margin-bottom: 90px;">
        <div class="container">
            <div class="owl-carousel testimonial-carousel py-5">
                <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/images/testimonial-1.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div>
                <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/images/testimonial-2.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div>
                <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/images/testimonial-3.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
</div>