@model IEnumerable<WebApplication1.Models.Dichvu> //khai báo 1 list Dichvu
@{
}


    <div class="container-xxl bg-white p-0">
        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(~/../../images/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
    <!-- Booking Start -->
    @await Component.InvokeAsync("BackGroundBooking");
    <!-- Booking End -->
        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">Our Services</h6>
                    <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Services</span></h1>
                </div>
                <div class="row g-4">
                @await Component.InvokeAsync("MenuService");
            </div>
            </div>
        </div>
       
        <!-- Service End -->
    <!-- Testimonial Start -->
    <div class="container-xxl testimonial mt-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s" style="margin-bottom: 90px;">
        <div class="container">
            <div class="owl-carousel testimonial-carousel py-5">
                <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                    <p>DACNA Hotel has proven itself to be one of the top hotels in VietNam with its excellent service quality. The rooms are not only clean and spacious but also designed with high aesthetic standards. Amenities like the pool, spa, and restaurant meet international standards. The friendly and enthusiastic staff is one of the key highlights that make this hotel successful. </p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/images/testimonial-1.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Nguyen Anh Thy</h6>
                            <small>Service Critic</small>
                        </div>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div>
                <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                    <p>DACNA Hotel is a standout in the hospitality industry in VietNam. The hotel not only boasts a prime location but also offers excellent service quality. The rooms are luxuriously designed, well-equipped, and ensure maximum comfort for guests. The professional and friendly staff is a big plus. This is a perfect choice for tourists and business travelers.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/images/testimonial-2.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Mike Tyson</h6>
                            <small>Travel Expert</small>
                        </div>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div>
                <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                    <p>I had a wonderful stay at DACNA Hotel. The rooms were very clean and well-equipped, with comfortable beds. Room service was always prompt and professional. The hotel's location is also very convenient for getting to popular tourist destinations. I will definitely return here on my next trips. This is definitely an ideal place for anyone to stay here. I love there so much.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/images/testimonial-3.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Le Quang Minh</h6>
                            <small>Customer</small>
                        </div>
                    </div>
                    <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
       
        <!-- Back to Top -->
        @* <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> *@
    </div>
