@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var selected = 0;
}
@model IEnumerable<WebApplication1.Models.LoaiPhong>;

<div class="row g-3 room-type-container">
    <div class="col-md-6">
        <div class="form-floating">
            <select class="form-select room-type" name="RoomTypes[@ViewBag.Index].Type">
                <option value="0">Select type room</option>
                @foreach (var room in Model)
                {
                    <option value="@room.MaLoai" data-price="@room.Gia" data-gia-giam="@room.GiaGiam">@room.Ten</option>
                }
            </select>
            <label for="select3">Select A Room</label>
        </div>
    </div>
    
    <div class="col-md-6 priceInfo">
        <div class="form-floating">
            <div style="display: flex; align-items: center; justify-content: center;">
                <div style="border-right: 1px solid #000; padding: 10px; margin-right: 5px;">
                    <h4>Price!!</h4>
                    <s class="room-price">0</s>
                </div>
                <div style="padding-left: 5px;">
                    <p> <h5 class="room-gia-giam" style="background-color:tomato;">0</h5> VNĐ/Night </p>
                    @* <p><strong>Giá giảm:</strong> <span class="room-gia-giam">0</span> VNĐ/Night</p> *@
                </div>
            </div>
        </div>
    </div>
</div>
  


